<div class="header">
  <h1>Listing Articles</h1>
</div>
<div class="actions">
  <%= link_to "New Article", new_article_path %>
</div>

<div class="content">
  <ul class="posts">
    <% @articles.each do |article| %>
        <li class="post">
          <p class="post-header"><%= article.title %></p>

          <p class="post-text"><%= article.text %></p>

          <ul class="post-actions">
            <li><%= link_to 'Show', article_path(article) %></li>
            <li><%= link_to 'Edit', edit_article_path(article) %></li>
            <li><%= link_to 'Destroy', article_path(article),
                             method: :delete,
                             data: {confirm: 'Are you sure?'} %></li>
          </ul>
        </li>
    <% end %>
    </ul>
  </div>